<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Marcação de Consultas</title>

	    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    	<link href="/static/css/index.css" rel="stylesheet">
		<link href="/static/css/docs.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
            			<div class="inner">
							<h3 class="masthead-brand"></h3>
							<nav></nav>
						</div>
					</div>
          			<div class="inner cover">
						<div class="bs-example">
							<div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion">
								{% for key, value in disponibilidade.items %}
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion{{key|date:'dmy'}}">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{key|date:'dmy'}}" aria-expanded="true" aria-controls="collapseOne">{{key|date:'d \d\e F \d\e Y'}} - {{ value.agenda }}</a>
										</h4>
									</div>
									<div id="collapse{{key|date:'dmy'}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											{% for hour in value.horarios %}
											<div class="radio">
											  	<label>
													<input type="radio" data-agenda="{{value.agenda.id}}" data-data="{{key|date:'Y-m-d'}}" name="hour{{key|date:'dmy'}}" value="{{hour|date:'G:i:00'}}" checked>{{hour|date:'G:i'}}</input>
												</label>
											</div>
											{% endfor %}
										</div>
									</div>
							  	</div>
							{% endfor %}
							</div>
							<form role="form" action="{% url 'marcar' %}" method="POST">
								{% csrf_token %}
								<input id="dataHiddenInput" type="hidden" name="data" />
								<input id="horaHiddenInput" type="hidden" name="hora" />
								<input id="agendaHiddenInput" type="hidden" name="agenda" />
								<div class="form-group">
									<label for="paciente">Paciente</label>
									<p id="paciente" class="form-control form-control-static">{{ paciente.nome }}</p>
									<input type="hidden" name="paciente" value="{{paciente.id}}" />
								</div>
								<div class="checkbox">
									<label>
										<input name="consulta_revisao" type="checkbox" value="1">Revisão</input>
									</label>
								</div>
								<button type="submit" class="btn btn-primary">Marcar Consulta</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/jquery-1.11.1.min.js"></script>
    	<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/agenda.js"></script>
	</body>
</html>