<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Marcação de Consultas</title>

	    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    	<link href="/static/css/index.css" rel="stylesheet">
		<link href="/static/css/docs.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
            			<div class="inner">
							<h3 class="masthead-brand"></h3>
							<nav></nav>
						</div>
					</div>
          			<div class="inner cover">
						<div class="bs-example">
							<form class="form-inline" role="form" action="{% url 'agendar' %}">
								<div class="form-group">
									<label for="paciente">Paciente</label>
									<select class="form-control" id="paciente" name="paciente">
										{% for p in pacientes %}
											<option value="{{p.id}}">{{p.nome}}</option>
										{% endfor %}
									</select>
								</div>
								<button type="submit" class="btn btn-primary">Marcar Consulta</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/jquery-1.11.1.min.js"></script>
    	<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>